/* ! MOMENTANEAL STYLES */
main section{
    border-bottom: 1px solid;
    height: 100em;
}

main .card,
main .column{
    background-color: aqua;
    height: 10em;
    border: 10px solid black;
}

#testimonials .card{
    height: auto;
}

#testimonials .img-container{
    height: 5em;
    background-color: brown;
    border: 1px solid;
}

#testimonials .text-content{
    border: 1px solid;
    height: 5em;
    background-color: brown;
}

#about-us .clearfix > *{
    height: 50em;
    background-color: red;
    border: 1px solid;
}

footer section{
    border-bottom: 1px solid;
    height: 50em;
    background-color: yellow;
}

footer .container{
    background-color: azure;
}











/* *****************************************
GENERAL STYLES *****************************/

/* * UNIVERSAL SELECTOR */
*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



/* * ROOT */
:root{
    /* ? Colors */
    --main-color-text: #333333;
    --secondary-color-text: white;
    --main-color: #0084fd;
    --lighter-main-color: #b5ddff;
    --secondary-color: #9792e4;
    --special-color: #fdc15f;


    /* ? Distances */
    --column-distance: 2em;
    --container-padding-top :4em;
    --container-highter-padding-top:6em;


    /* ? Borders */
    --small_border-radius: 1.5em;
    --big_border-radius: 3em;
    --oval-border-radius:25%;
    --rounded-border-radius:50%;
}



/* * HTML TAGS */
body{
    font-family: sans-serif;
}

body *{
    color: var(--main-color-text);
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}


/* * CLASSES */

/* ? Container */
.container{
    height: 100%;
    margin: 0 auto;
    width: 100%;
    padding-left: 2em;
    padding-right: 2em;
}


/* ? Displays */
.d_none{
    display: none;
}

.d_flex{
    display: flex;
    align-items: center;
}

.d_flex.space-between{
    justify-content: space-between;
}

.d_flex.center{
    justify-content: center;
}

.d_flex.columns-container{
    flex-direction: column;
}


/* ? Positions */
.p_absolute{
    position: absolute;
}

.p_relative{
    position: relative;
}


/* ? Text and Imgs*/
.title{
    font-size: 2em;
    padding-bottom: 1.5em;
}

.subtitle{
    padding-bottom: 1.5em;
}

.uppercase{
    text-transform: uppercase;
}

.text-centered{
    text-align: center;
}

.btn{
    border-radius: var(--oval-border-radius);
}


/* ? Combinations */
.img-container img{
    width: 100%;
    object-fit: cover;
}





/* *****************************************
SPECIFIC STYLES *****************************/

/* * HEADER */
header{
    height: 4.6em;
}


/* ? Navbar */
#nav-btn:checked ~ ul.d_none{
    display: block;
}

header nav ul.p_absolute{
    top: 4.6em;
    left: 0;
    right: 0;
}

header nav .btn{
    padding: 0.5em 1em;
}



/* * MAIN */
main  section>.container{
    padding-top: var(--container-padding-top);
}

main section:last-of-type>.container{
    padding-top: var(--container-highter-padding-top);
}

main .columns-container.d_flex .column{
    margin-bottom: var(--column-distance);
    width: 100%;
}


/* ? General Info */
#general-info .card{
    border-radius: var(--small_border-radius);
}


/* ? Strategic Plannings */
#strategic-plannings .card{
    border-radius: var(--big_border-radius);
}


/* ? Testimonials */
#testimonials .card{
    border-radius: var(--big_border-radius);
}


/* ? Beneficts */
#beneficts .card{
    border-radius: var(--small_border-radius);
}


/* ? About Us */
#about-us p{
    padding-bottom: 4em;
}



/* * FOOTER */
footer .container{
    max-width: 480px;
}










/* ********************************************
RESPONSIVENESS */

/* ? TABLET */
@media screen and (min-width:768px){
    /* *GENERAL STYLES */

    /* ? CLASSES */
    .d_flex.columns-container{
        flex-direction: row;
        flex-wrap: wrap;
    }

    .d_flex.columns-container .column{
        padding-right: var(--column-distance);
    }



    /* * SPECIFIC STYLES */
    
    /* ? MAIN */
    #general-info .columns-container.d_flex .column{
        width: calc(100%/3 - var(--column-distance));
    }

    #general-info .columns-container.d_flex .column:first-of-type{
        width: calc(100%/3*2 - var(--column-distance));
    }

    #testimonials .cards .card .img-container{
        width: calc(20% - var(--column-distance));
    }

    #testimonials .cards .card .text-content{
        width: calc(80% - var(--column-distance));
    }

    #beneficts .columns-container.d_flex .column{
        width: calc(100%/2 - var(--column-distance));
    }

    #about-us .columns-container.d_flex .column.text-content{
        width: calc(100%/3*2 - var(--column-distance));
    }

    #about-us .columns-container.d_flex article.column{
        width: calc(100%/3 - var(--column-distance));
    }
}




/* ? PC */
@media screen and (min-width:992px){
    /* * GENERAL STYLES */

    /* ? CLASSES */
    .container{
        max-width: 1050px;
    }



    /* * SPECIFIC STYLES */
    
    /* ? HEADER */
    header .p_absolute,
    header .p_relative{
        position: static;
    }
    
    header nav .icon{
        display: none;
    }

    header nav{
        width: 50%;
    }

    header nav ul.d_none{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }


    /* ? MAIN */
    #beneficts .columns-container.d_flex .column{
        width: calc(100%/3 - var(--column-distance));
    }

    #strategic-plannings .columns-container.d_flex .column{
        width: calc(100%/2 - var(--column-distance));
    }
}