/* ! MOMENTANEAL STYLES */
footer section{
    border-bottom: 1px solid;
    height: 50em;
    background-color: yellow;
}

footer .container{
    background-color: azure;
}











/* *****************************************
GENERAL STYLES *****************************/

/* * UNIVERSAL SELECTOR */
*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



/* * ROOT */
:root{
    /* ? Colors */
    --main-color-text: #333333;
    --lighter-main-color-text: #647a8e;
    --secondary-color-text: white;
    --main-color: #0084fd;
    --lighter-main-color: #b5ddff;
    --secondary-color: #9792e4;
    --special-color: #fdc15f;


    /* ? Distances */
    --column-distance: 1em;
    --container-padding-top :4em;
    --container-highter-padding-top:6em;


    /* ? Borders */
    --small_border-radius: 1.5em;
    --big_border-radius: 3em;
    --oval-border-radius:5em;
    --rounded-border-radius:100%;
}



/* * HTML TAGS */
body{
    font-family: 'PT Sans', sans-serif;
}

body *{
    color: var(--main-color-text);
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

p{
    line-height: 2em;
}


/* * CLASSES */

/* ? Container */
.container{
    height: 100%;
    margin: 0 auto;
    width: 100%;
    padding-left: 2em;
    padding-right: 2em;
    min-width: 330px;
}


/* ? Displays */
.d_none{
    display: none;
}

.d_flex{
    display: flex;
}

.d_flex.space-between{
    justify-content: space-between;
}

.d_flex.center{
    justify-content: center;
}

.d_flex.columns-container{
    flex-direction: column;
}


/* ? Positions */
.p_absolute{
    position: absolute;
}

.p_relative{
    position: relative;
}


/* ? Text and Imgs*/
.title{
    font-size: 2em;
    padding-bottom: 1.5em;
}

.subtitle{
    padding-bottom: 1em;
}

.uppercase{
    text-transform: uppercase;
}

.text-centered{
    text-align: center;
}

.btn{
    border-radius: var(--oval-border-radius);
}


/* ? Combinations */
.img-container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

h3.subtitle{
    font-size: 1.5em;
}





/* *****************************************
SPECIFIC STYLES *****************************/

/* * HEADER */
header{
    height: 4.6em;
    background-color: var(--main-color);
}

header>.d_flex{
    align-items: center;
}


/* ? Navbar */
#nav-btn:checked ~ ul.d_none{
    display: block;
}

header nav ul.p_absolute{
    top: 4.6em;
    left: 0;
    right: 0;
    background-color: var(--lighter-main-color);
}

header nav .icon{
    color: var(--secondary-color-text);
}



/* * MAIN */
main  section>.container{
    padding-top: var(--container-padding-top);
}

main section:last-of-type>.container{
    padding-top: var(--container-highter-padding-top);
}

main .columns-container.d_flex .column{
    width: 100%;
}

main div.columns-container.d_flex>.column{
    margin-bottom: var(--column-distance);
}


/* ? General Info */
#general-info{
    padding-bottom: 4.5em;
}

#general-info .card{
    border-radius: var(--small_border-radius);
    background-color: var(--lighter-main-color);
    padding: 3em var(--column-distance);
}

#general-info .card:first-of-type{
    padding-bottom: 0;
}

#general-info .card .subtitle{
    color: var(--main-color);
}

#general-info .card p{
    color: var(--lighter-main-color-text);
    font-weight: bold;
}

#general-info .card>.icon{
    color: var(--main-color);
    font-size: 5em;
    padding-bottom: 0.2sem;
}

#general-info .card:first-of-type p{
    margin-bottom: 3em;
}

#general-info .card .btn{
    background-color: var(--main-color);
    padding: 0.5em 3em;
    font-weight: bold;
    font-size: 1.2em;
}

#general-info .card .btn *{
    color: var(--secondary-color-text);
}

#general-info .card .btn .icon{
    padding-right: 0.5em;
}

#general-info .card .img-container{
    margin-top: 3em;
}


/* ? Strategic Plannings */
#strategic-plannings{
    background-color: var(--secondary-color);
    padding-bottom: 3em;
}

#strategic-plannings *{
    color: var(--secondary-color-text);
}

#strategic-plannings .img-container{
    margin-top: 2em;
    padding-bottom: 10em;
}

#strategic-plannings .card{
    border-radius: var(--big_border-radius);
    background-color: var(--secondary-color-text);
    margin-top: 1.5em;
}

#strategic-plannings .card *{
    color: var(--main-color-text);
}

#strategic-plannings .card p{
    font-style: italic;
}

#strategic-plannings .card .img-container{
    padding-bottom: 3em;
}

#strategic-plannings .card .icon{
    padding: 1em 1.2em;
    margin: 2em 0;
    border-radius: var(--rounded-border-radius);
    background-color: var(--secondary-color);
}


/* ? Testimonials */
#testimonials .d_flex{
    align-items: center;
}

#testimonials .title{
    color: var(--secondary-color);
}

#testimonials p{
    padding-bottom: 1em;
}

#testimonials .card{
    border-radius: var(--big_border-radius);
    background-color: var(--secondary-color);
    margin: 2em 0;
}

#testimonials .card *{
    color: var(--secondary-color-text);
}

#testimonials .card .img-container{
    width: 200px;
    height: 200px;
    overflow: hidden;
    margin-top: 2.5em;
    margin-bottom: 1em;
    border-radius: var(--rounded-border-radius);
}

#testimonials .card .text-content .uppercase{
    padding: 2em 0;
    font-weight: bold;
}

#testimonials .card .text-content p::before{
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: '\f10d';
}

#testimonials .card .text-content p::after{
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: '\f10e';
}


/* ? Beneficts */
#beneficts .card{
    border-radius: var(--small_border-radius);
}


/* ? About Us */
#about-us p{
    padding-bottom: 4em;
}



/* * FOOTER */
footer .container{
    max-width: 480px;
}










/* ********************************************
RESPONSIVENESS */

/* ? TABLET */
@media screen and (min-width:768px){
    /* *GENERAL STYLES */

    /* ? CLASSES */
    .d_flex.columns-container:not(#general-info article.d_flex.columns-container.card){
        flex-direction: row;
        flex-wrap: wrap;
    }

    .d_flex.columns-container .column:not(article.d_flex.columns-container.card .column){
        padding-right: var(--column-distance);
    }



    /* * SPECIFIC STYLES */
    
    /* ? MAIN */
    #general-info div.columns-container.d_flex>.column{
        width: calc(100%/3 - var(--column-distance));
    }

    #general-info div.columns-container.d_flex>.column:first-of-type{
        width: calc(100%/3*2 - var(--column-distance));
    }

    #testimonials .card{
        text-align: left;
    }

    #testimonials .cards .card .img-container{
        margin-left: 1em;
        width: calc(30% - 3em);
    }

    #testimonials .cards .card .text-content{
        width: calc(70% - 3em);
        margin-left: 2em;
        margin-right: 2em;
    }

    #beneficts .columns-container.d_flex .column{
        width: calc(100%/2 - var(--column-distance));
    }

    #about-us .columns-container.d_flex .column.text-content{
        width: calc(100%/3*2 - var(--column-distance));
    }

    #about-us .columns-container.d_flex article.column{
        width: calc(100%/3 - var(--column-distance));
    }
}




/* ? PC */
@media screen and (min-width:992px){
    /* * GENERAL STYLES */

    /* ? CLASSES */
    .container{
        max-width: 1100px;
    }

    .d_flex.columns-container.card{
        flex-direction: row;
        flex-wrap: wrap;
        padding-right: 0;
    }



    /* * SPECIFIC STYLES */
    
    /* ? HEADER */
    header *{
        color: var(--secondary-color-text);
    }

    header nav ul.p_absolute,
    header .p_relative{
        position: static;
        background-color: var(--main-color);
    }

    header nav{
        width: 50%;
    }

    header nav .icon{
        display: none;
    }

    header nav .btn{
        padding: 0.5em 1em;
        color: var(--main-color-text);
        background-color: var(--secondary-color-text);
    }

    header nav ul.d_none{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }


    /* ? MAIN */
    #general-info article.d_flex.card.columns-container .column{
        width: calc(100%/2);
    }

    #general-info article.d_flex.card.columns-container .column.img-container{
        padding-right: 3em;
    }

    #beneficts .columns-container.d_flex .column{
        width: calc(100%/3 - var(--column-distance));
    }

    #strategic-plannings .columns-container.d_flex .column{
        width: calc(100%/2 - var(--column-distance));
    }

    #strategic-plannings .card .img-container{
        width: 50%;
        margin-left: 25%;
        margin-right: 25%;
    }

    #strategic-plannings .container .d_flex{
        align-items: flex-end;
    }

    #testimonials .cards .card .img-container{
        width: calc(25% - 3em);
    }

    #testimonials .cards .card .text-content{
        width: calc(75% - 3em);
    }
}